* {
  font-family: "McLaren", cursive;
}

.navbar {
  background-color: rgb(82, 32, 129);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  color: rgb(223, 214, 214);
}

#box {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 20px;
}
